// $cyan : rgb(0, 255, 214);
// $cyana : rgba(0, 255, 214, 0);
$cyan : rgb(25, 186, 180);
$cyana : rgba(25, 186, 180, 0);
$yellow : rgb(255, 192, 0);
$yellowa : rgba(255, 192, 0, 0);
$magenta : rgb(255, 0, 143);
$magentaa : rgba(255, 0, 143, 0);


#colors {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: -5;
}
.summary {
	font-family: 'Source Sans Pro';
}
#summary-static {
	height: 8000px;
}
#summary-fixed {
	position: fixed;
	top: 0;
	width: 100%; 
}
#begin {
	height: 1000px;
	color: #FFFFFF;
}
.color {
	position: absolute;
	width: 100%;
	box-sizing: border-box;
	padding-left: 20%;
	padding-top: 1em;
	color: #FFFFFF;
	h1 {
		font-family: 'Raleway';
		text-transform: lowercase;
		font-weight: 200;
		font-size: 5em;
	}
}

@keyframes bg-stay {
	0% { opacity: 0; }
	100% { opacity: 1; }
}


	.color.expand-up::before {
		animation-duration: 1s;
		animation-name: bg-stay;
		content: " ";
	   position: absolute;
	   box-sizing: border-box;
	   width: 100%;
	   height: 200%;
	   top: 0;
	   left: 0;
	   z-index: -1;

	}
#technical {
	top:1700px;
	background: linear-gradient(to bottom, #000032 0%, rgba(0,0,50,0) 100%);
	&.expand-up::before {
   background: linear-gradient(to bottom, $cyan 50%, $cyana 100%); 
	}
}
#creative {
	top: 1700px * 2;
background: linear-gradient(to bottom, #003200 0%, rgba(0,50,0,0) 100%);
	&.expand-up::before {
   background: linear-gradient(to bottom, $yellow 50%, $yellowa 100%); 
	}
}
#cultural {
	top: 1700px * 3;
	background: linear-gradient(to bottom, #320000 0%, rgba(50,0,0,0) 100%);
	&.expand-up::before {
   background: linear-gradient(to bottom, $magenta 50%, $magentaa 100%); 
	}

}

i { font-style: italic; }



.expand {
	margin-top:1000px;

	padding: 1em 1em 0 1em;
	overflow: hidden;

	color: white;

	#technical & { background-color: #006435;
		background: linear-gradient(to bottom, $cyan 0%, $cyana 80%); }
	#creative & { background-color: #5F3D00;
		background: linear-gradient(to bottom, $yellow 0%, $yellowa 80%); }

	#cultural & { background-color: #2E0048; 
				background: linear-gradient(to bottom, $magenta 0%, $magentaa 80%); }
		
}
/*  */
/* #00FFD6 
	#FFC000
	#FF008F
	*/